@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav-avatar-dropdown {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-profile .dropdown-menu {
  padding: 10px 20px 10px 20px !important;
}
.nav-profile .dropdown-menu a {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.nav-profile .dropdown-menu a .custom-size-icon {
  width: 20px;
  height: 20px;
}
.closed-sideText span {
  font-size: 11px !important;
}

.content-open {
  width: calc(100% - 245px) !important;
  border-left: 1px solid #edeeef;
}
.content-closed {
  border-left: 1px solid #edeeef;
}
.position-fixed-design-card {
  position: fixed;
  min-height: calc(100vh - 20px);
  width: calc(100vw - 49vw);
  background-color: #e3dbdb;
  margin: auto;
  display: flex;
}
.button-tab-detail button {
  font-size: 12px;
  min-height: 40px !important;
}
.button-tab-detail button.Mui-selected {
  background-color: #1976d2 !important;
  color: #fff !important;
}
.MuiTypography-body3 {
  margin: 0;
  font-weight: 400;
  font-size: 0.775rem;
  line-height: 1.2;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 768px) {
  .min-height-custom .MuiToolbar-root {
    min-height: 55px !important;
  }
}
.align-left .MuiDialog-container {
  justify-content: flex-start !important;
}
